<div class="header">
  <div class="left-section">
      <div class="logo-container">
          <a class="logo" href="/">My Dungeon Co-pilot</a>
          <img src="/images/torch_white.png" alt="torch" width="50px">
      </div>
  </div>
  <div class="header-right">
      <button class="settings-btn">Settings</button>
      <div class="user-profile">
          <img src="<%= userAvatar %>" alt="User Profile" class="profile-pic">
          <span class="username"><%= username %></span>
      </div>
  </div>
  <button class="hamburger-menu" onclick="toggleMenu()">
      <span></span>
      <span></span>
      <span></span>
  </button>
  <div class="mobile-dropdown">
      <a href="/form" class="mobile-dropdown-item">New Campaign</a>
      <a href="/campaigns" class="mobile-dropdown-item">My Campaigns</a>
      <a href="#" class="mobile-dropdown-item">Profile</a>
  </div>
</div>