<div class="header">
  <div class="logo-container"><div class="logo">My Dungeon Co-pilot </div> <img src="/images/torch.png" alt="torch" width="50px"></div>
  <div class="header-right">
      <!-- <button class="settings-btn">Settings</button>
      <div class="user-profile">
          <img src="<%= userAvatar %>" alt="User Profile" class="profile-pic">
          <span class="username"><%= username %></span>
      </div> -->
  </div>
</div>