<div id="loadingContainer" class="loading-container">
  <div class="spinning-sword">
    <img src="/images/sword.png" alt="Loading..." />
  </div>
  Loading campaign...
  <div class="loading-progress-container">
    <div class="loading-progress-bar"></div>
  </div>
</div>