<div class="sidebar">
  <a class="new-chat-btn" href="/form?source=sidebar_button">+ New Campaign</a>
  <a class="new-chat-btn" href="/campaigns?source=sidebar_button">Browse Campaigns</a>
  <div class="chat-history">
      <% campaignList.forEach(camp => { %>
          <div class="chat-item">
              <a href="/results/<%= camp.campaign_id %>"><%= camp.campaign_name %></a>
          </div>
      <% }); %>
  </div>
</div>